.Home{
    display: grid;
    grid-template-columns: 23% 77%;
    grid-gap: 2rem;
    align-items: flex-start;
}

.grid_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
}