nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    padding: .5rem 1.5rem;
}

nav span.nav__title{
    display: block;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: .5px;
}nav span.nav__title::first-letter{
    text-decoration: underline 3px cornflowerblue;
}

nav .btn_items{
    display: flex;
    align-items: center;
    gap: 1rem;
}nav .btn_items li{
    list-style: none;
}nav .btn_items li button {
    background: none;
    font-size: 1em;
    cursor: pointer;
}nav .btn_items li:last-of-type button{
    background: cornflowerblue;
    color: #fff;
    font-weight: 600;
    padding: .4rem .6rem;
    border-radius: .2rem;
}